.carrossel__titulo {
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    color: var(--laranja);
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.card__descrição {
    display: flex;
    margin-bottom: 0.5em;
}

.descrição {
    margin-right: 0.3em;
}

.descrição__titulo {
    font-weight: 700;
    color: var(--laranja);
    margin-top: 0.5em;
}

.descrição__titulo-livro {
    font-weight: 700;
    color: var(--azul-escuro);
    font-size: 18px;
    margin: 0.5em 0;

}

.descrição__texto {
    font-size: 14px;
    font-weight: 400;
}

.card__botões {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.botões {
    display: flex;
    align-items: center;
}

.botões__item {
    margin: 0 0.5em;
}

.botões__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 1em 2.2em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

}

@media screen and (min-width:1024px) {
    .carrossel__titulo {
        font-size: 26px;
        padding-top: 1.8em;
        padding-bottom: 0.8em;
    }

    .swiper-pagination {
        margin: 1.5em 0 3.5em 0;
    }
    .swiper{
        width: 60%;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card{
        width: 50%;
        margin: 3em auto;
    }
   
}
@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        font-size: 32px;
    }
    .carrossel__container{
        display: flex;
        margin: 1em 20vw 2em 20vw;
        align-items: center; 
    }
    .card{
        width: 70%;
        margin-left:3em ;
        padding: 1em 2em;
    }
    .swiper-pagination{
        margin: 0.5em 0;
    }
    .swiper-slide{
    padding: 0 .5em;
    }
    .swiper{
        width: 70%;
    }
    .descrição__titulo{
        font-size: 32px;
    }
    .descrição__texto {
        font-size: 16px;
        margin-right: 2em;
    }
}